{{ Form::label(t('strings.title')) }}
<div class="clearfix"></div>
{{ Form::text('params[title]',$params['title']) }}
<div class="clearfix"></div>
{{ Form::label(t('strings.content')) }}
<div class="clearfix"></div>
{{ Form::text('params[subtitle]',$params['subtitle']) }}
<div class="clearfix"></div>
{{ Form::label(t('strings.url')) }}
<div class="clearfix"></div>
{{ Form::text('params[url]',$params['url']) }}
<div class="clearfix"></div>
{{ Form::label(t('strings.button')) }}
<div class="clearfix"></div>
{{ Form::text('params[button]',$params['button']) }}
<div class="clearfix"></div>
